/* Projects */
.project {
	&__meta-data{
		background-color: #eeeeee;
		padding: 16px 22px;
		color: #666666;
		margin-bottom: 30px;
		border-radius: 2px;

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: 5px;
		}
	}

	&__meta-icon {
		display: inline-block;
		min-width: 20px;
		margin-right: 4px;
		font-size: 120%;
		text-align: center;
	}

	&__content {

	}

	&__navigation {
		li {
			text-align: center;
			display: inline-block;
			width: calc(50% - 15px);
			min-height: 1px;

			&:last-of-type {
				margin-left: 30px;
			}
		}

		a {
			background-color: #eeeeee;
			display: block;
			padding: 15px;
			color: $text-color !important;
			text-transform: uppercase;
			font-weight: bold;
			font-family: $secondary-font;
			transition: $primary-transition;

			&:hover {
				color: $dark-color !important;
				text-decoration: none;
			}
		}
	}

	&__gallery > a {
		display: block;
		margin-bottom: 30px;
	}
}