/*
Theme Name:     Buildpress Child Theme
Theme URI:      http://www.proteusthemes.com
Description:    Child theme for the Buildpress
Author:         Primoz Cigler
Template:       buildpress
Version:        1.0
*/
/* add custom CSS code bellow */
table.sma {
	width: 100%;
}
td.sma1 {
	width: 5%;
	background: #8db3e2;
	color: #000;
	padding: 0 0 0 5px;
}
td.sma2 {
	width: 35%;
	background: #e5b8b7;
	color: #000;
	padding: 0 5px 0 5px;
}
td.sma3 {
	width: 50%;
	background: #fff;
	color: #000;
	padding: 0 5px 0 5px;
}
table.smex {
	width: 100%;
}
table.smex tr td {
	width: 33%;
}
table.soma {
	width: 100%;
}
td.soma1 {
	width: 14%;
	background: #e5b8b7;
	color: #000;
	padding: 0 0 0 5px;
}
td.soma2 {
	width: 14%;
	background: #8db3e2;
	color: #000;
	padding: 0 0 0 5px;
}
.attachment-medium {
	width: 300px;
	height: 170px;
}
body.page h1.main-title__primary {
	color: #fff;
}
.navigation {
	margin-bottom: -27px;
	position: relative;
	text-align: center;
	z-index: 210;
	background: #000 !important;
}
.navigation--main > li > a {
	color: #999999;
	margin-right: -4px;
	padding: 12px 22px !important;
}
.navigation--main > li:hover > a, .navigation--main > li.is-hover > a {
	padding-top: 24px;
	color: #fff !important;
	background: #ed1b24;
	border: none !important;
}
.fa-facebook {
	background: none repeat scroll 0 0 #3b5998;
	border-radius: 5px;
	color: #fff !important;
	padding: 4px 10px 5px;
}
.fa-twitter {
	background: #32def3;
	color: #fff !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 7px 5px;
}
.fa-youtube {
	background: #ed1b24;
	color: #fff !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 7px 5px;
}
.social-icons__link {
	color: #f7c51e;
	font-size: 25px;
	padding: 0 3px;
	transition: all 200ms ease-out 0s;
}
li.current-menu-item a {
	padding-top: 24px;
	color: #fff !important;
	background: #ed1b24;
	border: none !important;
}
.banner__buttons a.btn.btn-primary {
	background: #ed1b24;
	color: #fff;
	border: none;
}
footer .footer-bottom {
	background-color: #ed1b24;
	color: #fff;
}
footer .footer-bottom__left a {
	color: #fff;
}
.jumbotron__category::after, .alternative-heading::after, .navbar-toggle, #comments-submit-button, .btn-primary, .panel-grid .widget-title::after, .footer .footer__headings::after, .main-title h3::before, .hentry__title::after, .widget_search .search-submit, .pagination li .current, .pagination li:hover, .sidebar__headings::after, .sidebar .widget_nav_menu ul > li.current-menu-item a, .sidebar .widget_nav_menu ul > li > a:hover, .widget_calendar caption, .widget_tag_cloud a, body.woocommerce-page .widget_product_search #searchsubmit, body.woocommerce-page span.onsale, body.woocommerce-page ul.products::before, body.woocommerce-page nav.woocommerce-pagination ul li span.current, body.woocommerce-page nav.woocommerce-pagination ul li a:hover, body.woocommerce-page a.add_to_cart_button:hover, body.woocommerce-page button.button:hover, body.woocommerce-page .widget_product_categories ul > li > a:hover, body.woocommerce-page a.button:hover, body.woocommerce-page input.button:hover, body.woocommerce-page table.cart td.actions input.button.alt, body.woocommerce-page .cart-collaterals .shipping_calculator h2::after, body.woocommerce-page .cart-collaterals .cart_totals h2::after, body.woocommerce-page .woocommerce-info, body.woocommerce-page .woocommerce-message, body.woocommerce-page .woocommerce-error, body.woocommerce-page #payment #place_order, body.woocommerce-page .short-description::before, body.woocommerce-page .short-description::after, body.woocommerce-page .quantity .minus:hover, body.woocommerce-page .quantity .plus:hover, body.woocommerce-page button.button.alt, body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, body.woocommerce-page #review_form #respond input#submit, body.woocommerce-page div.product .woocommerce-tabs h2::after, .buildpress-table thead th, .brochure-box:hover, body.woocommerce-page .widget_product_search .search-field + input, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, body .buildpress-light .esg-filterbutton:hover, body .buildpress-light .esg-sortbutton:hover, body .buildpress-light .esg-sortbutton-order:hover, body .buildpress-light .esg-cartbutton-order:hover, body .buildpress-light .esg-filterbutton.selected {
	background-color: #ed1b24 !important;
}
.fa-star {
	color: #ed1b24;
}
.page-box__content p a {
	color: #ed1b24;
}
.read-more.read-more--post {
	color: red;
}
.widget.widget_recent_entries.push-down-30 li a {
	color: #000;
}
.widget.widget_recent_comments.push-down-30 ul li span a {
	color: #ed1b24;
}
.widget.widget_recent_comments.push-down-30 ul li a {
	color: #ed1b24;
}
.widget.widget_recent_entries.push-down-30 li {
	list-style: inside;
}
.widget.widget_archive.push-down-30 ul li a {
	color: #ed1b24;
}
input.search-submit {
	color: #fff !important;
}
.widget.widget_categories.push-down-30 ul li a {
	color: #ed1b24;
}
.widget.widget_meta.push-down-30 ul li a {
	color: #ed1b24;
}
.page-numbers li span {
	color: #fff !important;
}
.pagination li a:hover {
	color: #fff !important;
	text-decoration: none;
	display: block;
	padding: 12px 18px;
}
.wpcf7-form-control.wpcf7-submit {
	background: #ed1b24;
	border: medium none;
	color: #fff;
	padding: 8px 14px 10px 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.textwidget a {
	color: #ed1b24;
}
.esgbox-overlay{display:none !important;}