/*
Theme Name: BuildPress WP Theme
Theme URI: http://demo.proteusthemes.com/buildpress/
Author: ProteusThemes
Author URI: http://www.proteusthemes.com/
Description: BuildPress WordPress Theme.
Version: 2.1.0
License: GPL 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, yellow, custom-menu, editor-style, featured-images, sticky-post, translation-ready
Text Domain: buildpress_wp
*/

/*
 TABLE OF CONTENTS
	01. Project variables............Imported variables
	02. Twitter Bootstrap............Remove what is not neccessary
	03. Tags.........................Like <body>, <h1> etc.
	04. Helpers and utility classes..The general styles like .push-down-15 etc.
	05. Components...................Imported files, like partials, Compass etc.
		05.01. Top Bar
		05.02. Header Layout
		05.03. Main Title
		05.04. Breadcrumbs
		05.05. Sidebar
		05.06. Footer and Footer-bottom
		05.07. Page Builder
		05.08. Top Navigation
		05.09. Main Navigation
		05.10. Footer Navigation
		05.11. Jumbotron
		05.12. Buttons
		05.13. ProteusThemes Custom Widgets
		05.14. Shortcodes
		05.15. Pagination
		05.16. Comments
		05.17. WordPress Widgets
		05.18. WordPress Specific
		05.19. Error 404
		05.20. Contact Form 7
		05.21. Font Awesome
		05.22. Woocommerce
*/

/*------------------------------------*\
	01. Project variables

	only visible in SASS source files
\*------------------------------------*/

@import "vars";

/*
	02. Twitter Bootstrap

	Remove what is not necessary
*/

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// @import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
@import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/panels";
@import "bootstrap/responsive-embed";
// @import "bootstrap/wells";
// @import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/*------------------------------------*\
	03. Tags
\*------------------------------------*/

body {
	font-family: $primary-font;

	&.boxed {
		> .boxed-container {
			margin: 0 auto;
			box-shadow: 0 0 20px rgba(0,0,0,0.33);
			max-width: 100%;

			@media (min-width: $screen-sm-min) {
				width: ($container-sm + 60px);
			}
			@media (min-width: $screen-md-min) {
				width: ($container-md + 60px);
			}
			@media (min-width: $screen-lg-min) {
				width: ($container-lg + 60px);
			}
		}
	}
}

p {
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	font-kerning: normal;
}

a {
	color: $secondary-color;

	&:hover {
		color: darken($secondary-color, 6);
	}
}

img {
	border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $secondary-font;
	font-weight: bold;
	color: $dark-color;
	letter-spacing: -0.5px;
}

%theme-heading {
	position: relative;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.08);

	&::after {
		position: absolute;
		content: "";
		background-color: $primary-color;
		height: 3px;
		width: 30px;
		bottom: -1px;
		left: 0;
	}
}

.alternative-heading {
	@extend %theme-heading;
}

.alternative-heading--404 {
	@extend %theme-heading;
	padding-bottom: 30px;
	margin-bottom: 30px;

	&::after {
		left: calc(50% - 15px);
	}
}

blockquote {
	border-color: $primary-color;
}

// Tables
.buildpress-table {
	width: 100%;
	max-width: 100%;
	font-family: $secondary-font;

	thead {
		th {
			background-color: $primary-color;
			padding: 15px 20px;
			border-radius: 2px;
			color: $dark-color;
			border-right: 2px solid transparent;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			background-clip: padding-box;

			&:first-of-type {
				background-color: transparent;
			}

			&:last-of-type {
				border-right: none;
			}
		}
	}

	tbody {
		td {
			background-color: #ffffff;
			box-shadow: 0 0 0 1px #eeeeee inset;
			padding: 15px 20px;
			border-right: 2px solid transparent;
			border-bottom: 1px solid transparent;
			border-top: 1px solid transparent;
			background-clip: padding-box;
			border-radius: 2px;

			&:first-of-type {
				box-shadow: none;
				background-color: #eeeeee;
			}

			&:last-of-type {
				border-right: none;
			}
		}
	}
}

/*------------------------------------*\
	04. Helpers
\*------------------------------------*/

// generates styles: .push-down-5 {margin-bottom: 5px;}, .push-down-10 {margin-bottom: 10px;} etc. to 60px
@for $i from 0 through 12 {
	$i5 : $i*5;
	.push-down-#{$i5} {
		margin-bottom: 5px * $i;
	}
}

.master-container {
	overflow: hidden;
	margin-bottom: 30px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 60px;
	}
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.primary-font {
	font-family: $primary-font;
}

/*------------------------------------*\
	05. Components
\*------------------------------------*/

// Layout Elements
@import "components/top";
@import "components/header";
@import "components/main-title";
@import "components/breadcrumbs";
@import "components/sidebar";
@import "components/footer";
@import "components/page-builder";

// Elements
@import "components/top-navigation";
@import "components/main-navigation";
@import "components/footer-navigation";
@import "components/jumbotron";
@import "components/buttons";
@import "components/proteus-widgets";
@import "components/shortcodes";
@import "components/projects";

// WordPress Stuff
@import "components/pagination";
@import "components/comments";
@import "components/wp-widgets";
@import "components/wp";
@import "components/error-404";

// Plugins
@import "components/contact-form-7";

// Fonts
@import "../../bower_components/fontawesome/scss/font-awesome";

// Woocommerce
@import "components/woocommerce";

/*------------------------------------*\
	The End :)
\*------------------------------------*/